.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.Ticker {
  display: grid;
  grid-template-columns: 2fr 1fr 2fr; 
  align-items: center;
}


#up-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid green;
  justify-self: center;
  /* align-self: center; */
}

#dn-triangle {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 20px solid red;
  justify-self: center;
  /* align-self: center; */
}


.inputBox {
  font-size: 16px;
}


.btn {
  font-size: 16px;
  border: 2px solid black;
  padding: 15px 32px;
  margin: 4px 2px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;

  background-color: white;
  color: black;
}

.buy{
  border-color: #4CAF50;
  color: green;
}
.buy:hover {
  background-color: #4CAF50;
  color: white;
}
.buy_active {
  background-color: #4CAF50;
  color: white;
}


.sell {
  border-color: #f44336;
  color: red
}
.sell:hover {
  background: #f44336;
  color: white;
}
.sell_active {
  background: #f44336;
  color: white;
}


.sbmt {
  border-color: #2196F3;
  color: dodgerblue
}
.sbmt:hover {
  background: #2196F3;
  color: white;
}



  table.greenTable {
  font-family: Georgia, serif;
  border: 6px solid #24943A;
  background-color: #D4EED1;
  width: 100%;
  text-align: center;
}
table.greenTable td, table.greenTable th {
  border: 1px solid #24943A;
  padding: 3px 2px;
  font-size: 22px;
}
table.greenTable tbody td {
  font-size: 19px;
}
